---
---

@import "minima/skins/dark";
@import "minima/initialize";

html,

body {

  background-color: #181818 !important;

  color: #e8e8e8 !important;

}

.site-header,

.site-footer,

.page-content {

  background-color: #181818 !important;

}


.wrapper {
  max-width: 760px;
}

.post-link {
  font-size: 1.4rem;
  letter-spacing: -0.02em;
}

.post-content img {
  max-width: 70%;
  height: auto;
  display: block;
  margin: 2rem auto;
  border-radius: 8px;
}

.giscus-wrapper {
  margin-top: 4rem;
}

.feed-subscribe,
.rss-subscribe {
  display: none !important;
}
