---
---

@import "minima/skins/dark";
@import "minima/initialize";

.wrapper {
  max-width: 760px;
}

.post-link {
  font-size: 1.4rem;
  letter-spacing: -0.02em;
}

.post-content img {
  max-width: 70%;
  height: auto;
  display: block;
  margin: 2rem auto;
  border-radius: 8px;
}

.giscus-wrapper {
  margin-top: 4rem;
}

.feed-subscribe,
.rss-subscribe {
  display: none !important;
}
